html,body{
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

section{
    background-image: url("../images/people.jpg");
    background-size: cover;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.content{
    max-width: 1000px;
    margin: auto;
}
header{
    padding: 10px;
    background-color: rgb(135, 206, 230);
    color: white;
    text-align: center;
    box-sizing: border-box;
    font-size: 25px;
    width: 100%;
    font-weight: bold;
}


.info{
    max-width: 230px;
    box-sizing: border-box;
    background-color: #FFFFFFBB;
    margin: 15px;
    padding: 15px;
    float: right;
}
footer{
    background-color: rgb(85, 85, 85);
    padding: 40px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#face{
    width: 160px;
    margin-right: 15px;
}

input, select{
    box-sizing: border-box;
    padding: 10px;
    margin: 4px 0px;
    width: 100%;
    border: none;
}

input[type="submit"]{
    background-color: #48c5ce;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color:#5ebdad;
}

select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-image: url("../images/arrow.jpg");
    background-repeat: no-repeat;

    background-position: calc(100% - 10px);
}

.info-pal{
    max-width: 40%;
    color: white;
    display: inline-block;
    margin-left: 40px;
    text-align: left;
}
.info-pal p, .info-pal h3{
    margin-bottom: 20px;
}
.info-pal h3{
    font-size: 26px;
}